@import url(../css/global.css);

body {
    background-color: #f1f1f1;
}
header {
    background-color: white;
    padding: 24px;
    display: flex;
    justify-content: center;
    position: relative;
}
#search-bar {
    width: 400px;
    height: 40px;
    border: 1px solid #cccccc;
    display: flex;
    justify-content: flex-end;
}
#child-element {
    width: 57px;
    height: 40px;
    background-color: #f8f8f8;
    border: 1px solid #cccccc;
    border-left: 2px solid #cccccc;
    border-bottom: 2px solid #cccccc ;
    position: relative;
}
#icon-search {
    position: absolute;
    top: 8px;
    left: 16px;
}
#icon-menu {
    position: absolute;
    top: 35px;
    left: 30px;
}
#icon-youtube {
    position: absolute;
    top: 36px;
    left: 90px;
}
#icon-video {
    position: absolute;
    top: 36px;
    right: 170px;
}
#icon-bell {
    position: absolute;
    top: 36px;
    right: 105px;
}
#icon-perfil {
    background-color: #aaa;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    overflow: hidden;
    position: relative;
    top: 36px;
    right: 30px;
}
#icon-perfil img {
    position: absolute;
    bottom: 0;
    width: 100%;
}
#icon-perfil {
    position: absolute;
    top: 28px;
    right: 30px; 
}
#video-iframe {
    margin-top: 30px;
    margin-left: 75px;
}
#title-video {
    font-size: 22px;
    margin-top: 20px;
    margin-left: 75px;
}
#container-channel {
    position: relative;
}
#icon-dio-profile {
    background-image: url('../images/perfil-dio.jpg');
    background-repeat: no-repeat;
    background-size: 200%;
    background-position: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    left: 75px;
}
#container-channel #name {
    display: inline-block;
    position: absolute;
    top: 25px;
    left: 130px;
    font-size: 14px;
    font-weight: bold;
    color: #000;
}
#container-channel #subscribers {
    display: inline-block;
    position: absolute;
    top: 43px;
    left: 130px;
    font-size: 14px;
    color: #515151;
}
#container-channel #sign-up {
    background-color: #cc0000;
    color: #fff;
    width: 159px;
    height: 40px;
    border-radius: 3px;
    position: absolute;
    top: 20px;
    left: 285px;    
}
#like {
    position: absolute;
    top: 30px;
    left: 500px;
}
#like button {
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: bold;
}
#dislike {
    position: absolute;
    top: 30px;
    left: 615px;
}
#dislike button {
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: bold;
}
#share {
    position: absolute;
    top: 30px;
    left: 760px;
}
#share button {
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: bold;
}
#download {
   
    position: absolute;
    top: 30px;
    left: 920px;
}
#download button {
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: bold;
}
#container-info {
    width: 950px;
    margin-top: 85px;
    margin-left: 75px;
    line-height: 1.5;
    display: flex;
    gap: 20px;
    flex-flow: column wrap;
}
#container-info #paragraph-title {
    font-weight: bold;
}
#paragraph-title span { 
    font-weight: lighter;
    color: #3ea6ff;
}
#container-info #paragraph, #container-info #paragraph-link  {
    color: #515151;
}
#paragraph-link a {
    color: #3ea6ff;
}