@import url(../css/global.css);

body {
    background-color: #f9f9f9;
}
header {
    background-color: white;
    padding: 24px;
    display: flex;
    justify-content: center;
    position: relative;
}
#search-bar {
    width: 400px;
    height: 40px;
    border: 1px solid #cccccc;
    display: flex;
    justify-content: flex-end;
}
#child-element {
    width: 57px;
    height: 40px;
    background-color: #f8f8f8;
    border: 1px solid #cccccc;
    border-left: 2px solid #cccccc;
    border-bottom: 2px solid #cccccc ;
    position: relative;
}
#icon-search {
    position: absolute;
    top: 8px;
    left: 16px;
}
#icon-menu {
    position: absolute;
    top: 35px;
    left: 30px;
}
#icon-youtube {
    position: absolute;
    top: 36px;
    left: 90px;
}
#icon-video {
    position: absolute;
    top: 36px;
    right: 170px;
}
#icon-bell {
    position: absolute;
    top: 36px;
    right: 105px;
}
#icon-perfil {
    background-color: #aaa;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    overflow: hidden;
    position: relative;
    top: 36px;
    right: 30px;
}
#icon-perfil img {
    position: absolute;
    bottom: 0;
    width: 100%;
}
#icon-perfil {
    position: absolute;
    top: 28px;
    right: 30px; 
}
#video-iframe {
    margin-top: 30px;
    margin-left: 75px;
}